<h1>ユーザー</h1>
<% if @user.image.attached? %>
  <%= image_tag @user.image.variant(resize: '300x300') %>
<% end %>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>

<%= link_to "編集", edit_user_registration_path %>

<%= link_to "新規投稿", new_item_path %>
<%= link_to "投稿一覧", user_items_path(user_id: @user.id) %>
