<% provide(:title, "パスワード再設定") %>
<div class="topic-new-wrapper" >
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">パスワード再設定</h1>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit "パスワード再設定", class: 'btn btn-primary btn-block' %>
        </div>
        <% end %>



      </div>
    </div>
  </div>
</div>
