<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-transparent fixed-top">
  <%= link_to root_path do %>
  <span><%= image_tag "top-logo.jpg", class: "navbar-brand" %></span>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#responsiveMenu" aria-controls="responsiveMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="responsiveMenu">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
      <li class="nav-item">
        <strong><%= current_user.name %></strong>
      </li>
      <li class="nav-item">
        <%= link_to '投稿一覧', items_path %>
      </li>
      <li class="nav-item">
        <%= link_to 'MyPage', user_path(current_user.id) %>
      </li>
      <li class="nav-item">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li class="nav-item">
        <%= link_to "ログイン", new_user_session_path %>
      </li>
      <% end %>

    </ul>
  </div>
</nav>
